.back-btn{
  margin: 16px auto;
  margin-left: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  max-width: 95px;
  max-height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  &:hover,
  &:focus {
      background: #6c8cff;
    }
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  text-align: left;
  max-width: 408px;
  padding: 24px;
  margin: 0 auto;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 100%;
}

.form-email{
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 360px;
  max-height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: block;
  font-size: 16px;
  transition: border-color 0.3s ease;
  &:hover,
  &:focus{
    border-color: #000;
  };
  &:active {
    border-color: #808080;
  }
}

.form-message {
  resize: none;
  padding: 8px 16px;
  max-width: 360px;
  max-height: 80px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 0.3s ease;
  &:hover,
  &:focus{
      border-color: #000;
    };
  &:active {
    font-size: 16px;
    border-color: #808080;
  }
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  margin-top: 8px;
  &:hover,
  &:focus {
      background-color: #6c8cff;
    }
}