img {
  cursor: pointer;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1440px;
  padding: 0 24px 24px 24px;
}

.gallery-item {
  max-width: 360px;
  height: 100%;
  transition: transform 250ms ease-in-out;
  &:hover {
      transform: scale(1.05);
    }
}

.gallery-image {
  width: 100%;
  height: 100%;
}

body .sl-overlay {
  background: rgba(46, 47, 66, 0.8);
}

.sl-prev,
.sl-next,
.sl-close,
.sl-counter {
  color: #ffffff !important;
}